html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.wholeP {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  opacity: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #e2c4fa3d;
}

.promo {
  position: fixed;
  display: flex;
  top: 0%;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 45px;
  background-color: #442897;
  z-index: 99;
}

.nav-link {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.6vw;
  color: #8a7799 !important;
  opacity: 0.8;
  letter-spacing: 1px;
  margin: 8px;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:focus {
  color: #5131c4 !important;
  opacity: 1;
}

.enter-event {
  color: #4F4F4F;
}
.enter-event:hover, .enter-event:focus {
  color: #5131c4 !important;
  opacity: 1;
}

.navB {
  margin-top: 45px;
  align-self: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.innerIntro {
  max-width: 35%;
  margin-left: 35%;
  display: block;
  align-self: center;
  font-size: 20px;
}

.card {
  margin: 15px;
}

.placeholder {
  height: 250px;
}

.btmContainer {
  display: block;
  width: 90%;
  padding: 1%;
  align-self: center;
  transition-timing-function: ease;
  transition: 0.3s;
}

.btn {
  display: flex;
  color: white !important;
}

.card-img-top {
  height: 60% !important;
}

.modal-body {
  display: flex;
  align-items: center;
  margin: 2%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pplBtn {
  background-color: #442897 !important;
}

.events {
  display: block;
  padding: 5%;
  margin-top: -2%;
  transition-timing-function: ease;
  transition: 0.3s;
}

#aicon {
  position: absolute;
  width: 220px;
  height: 120px;
  left: 6%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 9;
}

#iconfont {
  display: inline-block;
  position: absolute;
  width: 200px;
  height:200px;
  margin-left: -100px;
  margin-top: -50px;
  font-size: 30px;
  color: #0A080A;
  text-align: center;
  font-weight: bold;
}

#topbar {
  background-color: #f5f5f5;
  width: 100%;
  height: 120px;
  transition-timing-function: ease;
  transition: 0.3s;
}

#navbarSupportedContent {
  margin-left: 70%;
}

#pageContent {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  flex-flow: column;
  --gap: 30px;
  top: 160px;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  overflow-y: scroll;
  margin-top: var(--gap);
  align-items: space-between;
  justify-content: center;
}

#intro {
  display: block;
  width: 90%;
  padding: 1%;
  align-self: center;
  justify-content: center;
  transition-timing-function: ease;
  transition: 0.3s;
}

#sesameLogo {
  width: 30%;
  justify-self: center;
  align-self: center;
}

#searchBar {
  margin: 10px auto 30px 35%;
}

#introCards, #details {
  width: 100%;
  margin: 20px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-timing-function: ease;
  transition: 0.3s;
}

#outroCards {
  width: 100%;
  margin: 20px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  transition-timing-function: ease;
  transition: 0.3s;
}

#about, #outro {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  padding: 1%;
  align-items: center;
  justify-content: center;
  transition-timing-function: ease;
  transition: 0.3s;
  color: white;
  background-color: #442897;
}

#aboutContent {
  width: 70%;
  margin-left: 10%;
  text-align: left;
  padding: 20px;
}

#outroContent {
  width: 70%;
  text-align: left;
  padding: 20px;
}

#qrCode {
  margin: 5%;
  width: 200px;
  height: 200px;
  display: none;
}

#qrCodeCard {
  width: 18rem; 
  height: 10rem;
}

#detailsContent {
  width: 70%;
  margin-right: 20%;
  text-align: right;
  padding: 20px;
}

#blockchain-icon {
  margin-left: 15%;
  width: 200px;
  height: 200px;
}

#eventCards {
  width: 100%;
  margin: 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

#eventHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#walletCtn {
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#connectBtn {
  margin-left: 20px;
  font-size: large;
  background-color: #442897;
}

#walletModal {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:#4F4F4F;
  opacity: 0.5;
}

#connectWallet {
  display: block;
  position: absolute;
  top: 20%;
  align-items: center;
  justify-content: center;
}